@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(158, 161, 165);
}

.maplibregl-popup-content{
    border-radius: 0 !important;
    background: none !important;
    border-width: 1px;
    border-color: antiquewhite;
    padding: 0 !important;
    width: 300px;
}

.maplibregl-popup-tip{
    display: none;
}

.maplibregl-popup-close-button{
    padding: 5px 9px;
    color: whitesmoke !important;
    font-size: large;
    background: none !important;
    /* position: static !important; */
    border-radius: 0 !important;
}